.addGoalModal {
  display: flex;
  flex-direction: column;
  margin: 100px;
  align-items: start;
}

.addGoalText {
  color: black;
  font-size: larger;
  margin: 20px;
}

.createGoalBtn {
  margin: 1%;
  padding: 1%;
  border-radius: 5%;
  background-color: #276891;
  color: white;
  float: right;
  border-color: #2f7fb0;
}

.createGoalBtn:hover {
  background-color: white;
  color: #1c4b68;
  border-color: #276891;
}