.cards {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    gap: 2rem;
    width: 90vw;
    max-width: 72rem;
}

.oneCard {
    flex: 1;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.cardTitle {
    padding-bottom: 0.5rem;
    text-align: center;
    margin: 0 auto;
    color: #276891;

}

.dashText {
    color: rgb(98, 98, 98);
    margin: 0 auto 0.5rem;
    text-align: center;
    font-weight: 500;
    font-size: .75rem;
}

.cardText {
    margin: 0 auto;
    font-weight: 500;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    max-width: 95%;
    min-width: 45%;
    flex: 1;
}

.liItem {
    padding: .5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 1rem;
}

.dashButtonContainer {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center;
}



.dashButton {
    background-color: #276891;
    color: white;
    font-weight: 700;
}

.dashButton:hover {
    background-color: #3d779c;
}

.dashButton:active {
    background-color: #225c7f;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

@media screen and (max-width:900px) {
    .cards {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }

    .oneCard {
        width: 85vw;

    }
}

@media screen and (max-width: 625px) {
    .cards {
        width: 70vw;
    }
}

/* start task list dashboard styles */

select {
    padding: 0.25rem;
    font-size: 1rem;
}

.mainTask {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.filterContainer{
    display: flex;
    margin: 0.5rem ;
    align-items: center;

}

.task-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.filterText {
    margin-right: .75rem;
    font-size: 1rem;
    font-weight: 700;
}

.noTasks {
    font-size: 2rem;
    text-align: center;
}

.tasksList {
    overflow-wrap: break-word;
}

.taskListTitle {
    margin: 0 auto;
    color: #276891;
    border-bottom: 1px solid black;
    width:95%;
}

.regularText {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: black;
    white-space: pre-wrap;
word-wrap: break-word;

}

.task-filter {
    margin-bottom: 1rem;

}

.goalDashSpacing {
    height: 1rem;
}

.cardFlex {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
}

@media screen and (max-width: 750px) {
    .cardFlex {
        flex-direction: column;
    }

    .cardText {
        width: 95%;
    }
}

.singlePageMain{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.textAlign{
    text-align: center;
}

.singlePageTitle{
    font-size: 2rem;
    padding-bottom: 0.5rem;
    text-align: center;
    margin: 0 auto;
    color: #276891;
}

.subHeader{
    border-bottom: 1px solid black;
    width:50%;
    max-width: 15rem;
    font-size: 1.25rem;
    margin: 0 auto;
    padding-top: 0.5rem;
}
.singlePageText{
    font-size: 1.25rem;
}