.header {
    width: 100vw;
    background-color: #FFFFFF;
    margin-bottom: 1rem;
}

.navItems {
  max-width: 75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem auto;
  padding: 0 1rem;
}

.logo {
  height: 3.25rem;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0 1rem;
  gap: 2rem;
  margin: 0;
}

.login {
  background-color: #276891;
  color: white;
  font-weight: 700;
}

.login:hover{
  background-color: #3d779c;
}

.login:active{
  background-color: #225c7f;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}

.navLinkItem {
    text-decoration: none;
    color: #276891;
    font-size: clamp(1rem, 3vw, 1.6rem);
    font-weight: 700;
}

.navLinkItem:hover {
    color: #0BAFC1;
    padding-bottom: 0.1rem;
    border-bottom: 3px solid black;
}

.welcome {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: 600;

}

.burgerMenu {
  height: 2.5rem;
  display: none;
  object-fit: cover;
}

.mobileMenu {
    position: absolute;
    top: 3rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: #276891;
    border-radius: 1rem;
}

.mobileMenuItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: #0BAFC1;
    font-size: 1.25rem;
    font-weight: 600;
}

.mobileMenuItem:hover {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom: 3px solid black;
    padding-bottom: 0.1rem;
}

.active {
    color: #0BAFC1;
    border-bottom: 3px solid black;
    padding-bottom: 0.1rem;
}

.activeMobile {
    color: #276891;
    font-weight: 800;
    border-bottom: 3px solid black;
    padding-bottom: 0.1rem;
}

.burgerMenu {
  height: 2.5rem;
  display: none;
  object-fit: cover;
}

.Title {
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  color: white;
  background-color: #0bafc1;
}

.pageTitle {
  padding: 10px 0;
  margin: 0;
}

@media screen and (max-width:800px) {
    .burgerMenu {
        display: flex;
        margin: 0 auto;
    }

    .burgerContainer{
        width: 151px;
        
    }

  .navLinks {
    display: none;
  }

  .logo {
    height: 2.5rem;
  }

  .pageTitle{
    font-size: clamp(2rem, 6vw, 2.5rem);
  }
}

@media screen and (max-width: 500px) {
  .navItems {
    flex-direction: column;
    margin: 1rem auto;
    gap: 1rem;
  }

  .mobileMenu {
    position: absolute;
    top: 10.2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
