.mainTask{
  width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



.addTaskModal {
  width: 90vw; 
  height: 90vh;
  background-color: white; 
  border-radius: 5px; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  overflow-y: auto;
}

.modalContent{
  width: 100%;
  position: absolute;
  top: 70px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editContent{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editTitle{
  width: 75%;
  max-width: 560px;
  min-width: 280px;
  background-color: #276891;
  font-size: clamp(1rem, 8vw, 2rem);
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 700;
  color: white;
  border-radius: 1rem;
}

.modalTitle{
  width: 75%;
  max-width: 560px;
  min-width: 280px;
  background-color: #0BAFC1;
  font-size: clamp(1rem, 8vw, 2rem);
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 700;
  color: white;
  border-radius: 1rem;
}

.formContainer{
  padding: 2rem 0;
  position: relative;
  max-width: 90%

}

.formInputs{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  min-width: 35rem;
  margin-bottom: 1rem;
}

/* single task modal */

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.singleTaskModal {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 2%;
    /* width: 100%; */
    /* border-color: gray;
    border-radius: 5%;
    border-width: 100px; */
}

.completedBtn {
  background-color: #276891;
  color: white;
  border-radius: 5%;
  padding: 1%;
  margin: 1%;
  /* float: right; */
  border-color: #2f7fb0;
}

.completedBtn:hover {
  background-color: white;
  color: #1c4b68;
  border-color: #276891;
}

.bottomBtn {
  background-color: #276891;
  color: white;
  border-radius: 5%;
  padding: 1%;
  margin: 1%;
  float: right;
  border-color: #2f7fb0;
}

.bottomBtn:hover {
  background-color: white;
  color: #1c4b68;
  border-color: #276891;
}

/* add task modal */

.addTaskModalTxt {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 1rem ;
  font-weight: 600;
  font-size: 1.25rem;
}

.addTaskForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.addTaskModalInput {
  background-color: rgb(243, 243, 243);
  color: rgb(103, 103, 103);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.85rem;
  white-space: pre-line;
}

textarea{
  resize: none;
  height: 3rem;
}

.submitButtonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.editButtonContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}

.editSubmitButton{
  width: 45%;
  background-color: #276891;
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submitButton{
  width: 75%;
  background-color: #276891;
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submitButton:hover{
  background-color: #3d779c;
}

.submitButton:active{
  background-color: #225c7f;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}

@media screen and (max-width: 650px) {
  .formInputs {
    min-width: 250px;
    width: 80vw;

  }

}



/* start goal creation modal unique styles */
.goalDesc{
  font-size: 0.75rem;
  font-weight: 425;
  color: rgb(34, 34, 34);
}