.tasks-list {
    display: flex;
    flex-wrap: wrap;
}

/* single task modal */

.singleTaskModal {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 2%;
    /* width: 100%; */
    /* border-color: gray;
    border-radius: 5%;
    border-width: 100px; */
}

.completedBtn {
  background-color: #276891;
  color: white;
  border-radius: 5%;
  padding: 1%;
  margin: 1%;
  /* float: right; */
  border-color: #2f7fb0;
}

.completedBtn:hover {
  background-color: white;
  color: #1c4b68;
  border-color: #276891;
}

.bottomBtn {
  background-color: #276891;
  color: white;
  border-radius: 5%;
  padding: 1%;
  margin: 1%;
  float: right;
  border-color: #2f7fb0;
}

.bottomBtn:hover {
  background-color: white;
  color: #1c4b68;
  border-color: #276891;
}